body{
    background-color: slategray;
}
h1{
    color: #ffffff;
    font-size: 5vw;
    font-family: fantasy;
    text-align: center;
    background-color: #0000ff;

}
h2, h3, h4{
    color: #ffffff;
    font-size: 4vw;
    font-family: fantasy;
    text-align: center;
    background-color: #610593;

}
p, span{
    font-size: 2vw;
    background-color: beige; 
}
img{
width: 100%;
height: 100%;
display: grid;
border: solid 5px #f75d00;
padding: 10px;
margin-left: auto;
margin-right: auto;
margin-top: 1vh;
margin-bottom:  1vh;
border-top-right-radius: 30px;   
background-color: beige; 
}
nav{
    border: solid 1vh green 
}
nav li{
    display: inline-block;
    height: 10vh;
}

nav >a{
    background-color: yellow;
    padding: 5px;
    margin: 20px
}
.thumbnail{
border: 5px solid darkviolet
}
#mainContent{
    position: absolute;
    left: -500px;
}

#mainContent:focus{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ffffff;  
}
.two_pictures{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.item1{
    width: 90%;
    height: 85%;
    grid-area: 1 / 1;
}
.item2{
    width: 90%;
    height: 85%;
    grid-area: 2 / 2;
}
.item3{
    width: 90%;
    height: 85%;
    grid-area: 2 / 1;
}
.item4{
    width: 90%;
    height: 85%;
    grid-area: 1 / 2;
}
.five_pictures{
    display: grid;
    grid-template-columns:0.1fr 1fr 0.1fr 1fr 0.1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: solid 5px gold;
    border-top-right-radius: 30px;  
}
.item1_5{
    height: 100%;
    grid-area: 1 / 2;
}
.item2_5{
    height: 100%;
    grid-area: 1 / 4;
}
.item3_5{
    height: 100%;
    grid-area: 2 / 2;
}
.item4_5{
    height: 100%;
    grid-area: 2 / 4;
}
.item5_5{
    height: 100%;
    grid-area: 3 / 2 /  3 /  5;
}
.item1_5 div{
    height: 75%;
}
.item2_5 div{
    height: 75%;
}
.item3_5 div{
    height: 75%;
}
.item4_5 div{
    height: 75%;
}
.item5_5 div{
    height: 75%;
}

.three_pictures{
    display: grid;
    grid-template-columns:0.1fr 1fr 0.1fr 1fr 0.1fr;
    grid-template-rows: 1fr 1fr;
    border: solid 5px gold;
    border-top-right-radius: 30px;  
}

.item1_3{
    height: 100%;
    grid-area: 1 / 2;
}
.item2_3{
    height: 100%;
    grid-area: 1 / 4;
}
.item3_3{
    margin-top: 4vh;

    height: 90%;
    grid-area: 2 / 2 /  2 /  5;
}
.unordered_list{
    text-align: center;
    font-size: 2vw;
    background-color: #000000;
    color: #ffffff; 
}
li{
    text-align: center;
    font-size: 2vw;
    color: #ffffff;
    background-color: orange;  
}
ol{
    text-align: center;
    font-size: 2vw;
    color: #ffffff;
    background-color: orange; 
}
nav li{
    display: inline-block;
    height: 10vh;
    background: none;
    color: #000;
}